@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
/* font-family: 'Montserrat', sans-serif; */

/* @import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap"); */
/* font-family: 'Fira Sans', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
/* font-family: 'Raleway', sans-serif; */

/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
/* font-family: 'Roboto', sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap");
/* font-family: 'Playfair Display', serif; */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
/* font-family: 'Open Sans', sans-serif; */

:root {
  --text-color: black;
  --bg-color: #e5e7eb;
}

/* border box */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font: 16px/1.7 "Source Sans Pro", Helvetica, Helvetica Neue, Arial, sans-serif;
  color: var(--text-color);
  background-color: var(--bg-color);
}

/* circualr progress bar */
/* .circular-progress {
  width: 40px;
  height: 40px;
  background-color: #404040;
  border-radius: 50%;
}

.circular-track {
  width: 40px;
  height: 40px;
  background-color: #0c94e2;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
} */

/*  main app wrapper */

.App {
  width: 100vw;
  height: 100vh;
  background-color: #d4d5d8;
  /* background-color: #7d7e80; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px;
}
.route-title {
  position: absolute;
  top: 32px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  font-style: italic;
}

.carouselBtn {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  font-size: 24px;
  /* font-weight: 100; */
  /* background-color: transparent; */
  background-color: #adadad;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carouselBtn:hover {
  background-color: #929090;
}
.carouselBtn img {
  width: 50px;
}
.exercise {
  /* background-color: var(--bg-color); */
  background-color: white;
  padding: 32px;
  border-radius: 8px;
  position: relative;

  /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); */

  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

/* counter */

.counter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.counter button {
  border: none;
  width: 48px;
  height: 48px;
  border: 4px solid rgb(197, 208, 218);
  /* border-style: unset; */
  font-size: 24px;
}
.counter button:focus {
  /* border: 4px solid; */
  /* outline: none; */
  /* outline-style: dashed; */
  outline-color: #e5e7eb;
  outline-width: 1px;
}
.counter span {
  display: flex;
  align-items: center;
  justify-content: center;
  /* display: inline-block; */
  /* text-align: center; */
  width: 48px;
  height: 48px;
  font-size: 24px;
  /* background-color: aliceblue; */
  background-color: rgb(197, 208, 218);
}

/* add to cart */
.add-to-cart {
  /* width: 60vw; */
  height: 75vh;
  overflow: hidden;
  /* background-color: var(--bg-color); */
  /* background-color: white; */
  position: relative;
  /* overflow: auto; */
}
.add-to-cart header {
  /* width: 100%; */
  /* width: calc(60vw); */
  height: 50px;
  width: 72vw;
  display: flex;
  background-color: white;
  z-index: 2;
  /* position: fixed; */
  /* top: 0; */
  /* left: 0; */
  /* right: 0; */
  margin-bottom: 8px;
  /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); */
}
.header-back-btn {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-back-btn:focus {
  border: none;
  outline: none;
}
.header-back-btn img {
  margin-right: 8px;
}
.header-wrapper {
  margin-left: auto;
}
.add-to-cart header img {
  height: 24px;
}
.bold {
  font-weight: bold;
}
.wishlist-wrapper {
  display: flex;
  /* margin-left: auto; */
  color: #adadad;
  font-weight: 600;
  cursor: pointer;
}
.wishlist-wrapper div {
  margin-left: 8px;
}
.wishlist-wrapper span {
  color: #000000;
}

.cart-wrapper {
  display: flex;
  color: #adadad;
  font-weight: 600;
  cursor: pointer;
}
.cart-wrapper div {
  margin-left: 8px;
}
.cart-wrapper span {
  color: #000000;
}

.product-wrapper {
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
  /* height: calc(75vh - 100px); */
  flex-wrap: wrap;
  /* overflow: auto; */
}
.product-display {
  overflow: auto;
  width: 100%;
  height: calc(75vh - 70px);
}

.product {
  margin-right: 32px;
  box-sizing: border-box;
}

.product-img-wrapper {
  padding: 48px;
  background-color: #f3f8fc;
  position: relative;
  border: 4px solid #f3f8fc;
  border-radius: 4px;
  margin-bottom: 16px;
}

.product-img {
  width: 180px;
  height: 240px;
}
.like-btn {
  width: 32px;
  height: 32px;
  /* border: 2px solid #000000; */
  border: 2px solid #00000030;
  border-radius: 4px;
  position: absolute;
  bottom: 12px;
  right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.like-btn:hover {
  /* border-radius: 4px; */
  border: 2px solid #00000040;
}
.product-like-img {
  width: 16px;
}
.product-title {
  /* color: #c7c7c7; */
  /* color: #adb1b4; */
  /* color: #919090; */
  color: #adacac;
  font-size: 20px;
  /* font-weight: bold; */
  font-weight: 600;
  text-align: center;
  line-height: 0.8;
}
.product-price {
  color: #474747;
  font-weight: 600;
  text-align: center;
}
.product-buy-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 32px;
}

.product-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}
.product-quantity button:not(.add-to-cart-btn) {
  background-color: transparent;
  /* border: 2px solid #adacac;
  border-radius: 50%; */
  border: 1px solid #adacac;
  width: 24px;
  height: 24px;
  font-weight: 900;
  font-size: 18px;
  color: #adacac;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-quantity button:not(.add-to-cart-btn):hover {
  border: 1px solid #333333;
}
.product-quantity div {
  font-size: 20px;
  /* font-weight: 600; */
  width: 32px;
  text-align: center;
}
.add-to-cart-btn {
  margin: auto;
  padding: 8px 24px;
  background-color: #ffffff;
  border: 2px solid #333333;
  border-radius: 2px;
  color: #333333;
  font-weight: 600;
  width: 140px;
  /* font-size: 20px; */
}
.add-to-cart-btn:hover {
  background-color: #1b1b1b;
  color: #b4b4b4;
}

.empty-wrapper {
  width: 100%;
  /* height: 100%; */
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.empty-msg {
  margin-bottom: 8px;
  /* font-weight: 600; */
  font-size: 20px;
  color: #adadad;
}
.btn {
  padding: 8px 24px;
  background-color: #ffffff;
  border: 2px solid #333333;
  border-radius: 2px;
  color: #333333;
  font-weight: 600;
  width: 140px;
}
.btn:hover {
  background-color: #1b1b1b;
  color: #b4b4b4;
}
.wishlist {
  overflow: auto;
  width: 100%;
  height: calc(75vh - 70px);
  /* width: 50vw; */
}
.wishlist-items-wrapper {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  position: relative;
}
/* !add */
.cart {
  overflow: auto;
  width: 100%;
  height: calc(75vh - 70px);
  /* width: 50vw; */
}
.cart-items-wrapper {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  position: relative;
}
.cart-item {
  width: 100%;
}
.productList {
  display: flex;
  margin-bottom: 32px;
}
.productList-details {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}
.productList-img {
  /* width: 100px;
  height: 140px; */
  width: 90px;
  height: 120px;
  /* margin-right: 16px; */
}
.productList-img-wrapper {
  width: 90px;
  height: 120px;
  margin-right: 16px;
}
.productList-quantity {
  display: flex;
  align-items: center;
}
/* + - btn */
.productList-quantity button {
  background-color: transparent;
  /* border: 2px solid #adacac;
  border-radius: 50%; */
  border: 1px solid #adacac;
  width: 20px;
  height: 20px;
  font-weight: 900;
  font-size: 18px;
  color: #adacac;
  display: flex;
  justify-content: center;
  align-items: center;
}
.productList-quantity button:hover {
  border: 1px solid #333333;
}
.productList-quantity div {
  font-size: 18px;
  /* font-weight: 600; */
  width: 32px;
  text-align: center;
}

.productList-title {
  color: #adacac;
  font-size: 18px;
  /* font-weight: bold; */
  font-weight: 600;
  /* text-align: center; */
  line-height: 1.2;
}
.productList-price {
  color: #474747;
  font-weight: 600;
  /* font-size: 15px; */
  /* text-align: center; */
}
.productList-remove-btn {
  margin-top: auto;
  /* color: red; */
}
.productList-remove-btn:hover {
  color: red;
}

button {
  cursor: pointer;
}

/* ----------------------------------------- */
/* ------------todo------------------------- */

.todoApp {
  width: 300px;
}
/* ! change name to todo-app */

.todoApp h2 {
  line-height: 0.8;
}
.todo input {
  margin-right: 12px;
}

.add-todo-wrapper {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}
.add-todo-wrapper input {
  width: 240px;
  border: none;
  background-color: #e1e2e7;
  height: 40px;
  border-radius: 12px;
  padding: 0 12px;
}
.add-todo-wrapper button {
  width: 40px;
  height: 40px;
  border: none;
  background-color: #e1e2e7;
  color: #000000b9;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.add-todo-wrapper button:hover {
  /* box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); */
  color: #000000;
}

/* -------------------------------------------------- */
/* -------------------darkmode------------------------- */
.dark-mode {
  width: 300px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dark-mode button {
  width: 200px;
  height: 40px;
  border-radius: 12px;
  border: none;
  background-color: #474747;
  color: #adacac;
  font-weight: 800;
}
.dark-mode button:hover {
  color: white;
}

/* -------------------------------------------------- */
/* --------------------toast----------------------- */

.toast-ex {
  width: 380px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toast-ex .toast-open-btn {
  width: 200px;
}

.success-toast {
  width: 360px;
  /* height: 100px; */
  background-color: #43d787;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  position: relative;

  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.toast-control {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  height: 20px;
}

.toast-control .close-btn {
  color: #ffffff;
  border: none;
  background-color: transparent;
  font-size: 16px;
  font-weight: 800;
  margin-top: 4px;
  margin-right: 4px;
}
.toast-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.toast-msg-icon-wrapper {
  width: 20%;
  /* height: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.toast-msg-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #43d787;
}

.toast-msg-wrapper {
  width: 70%;
  color: #ffffff;
  margin-bottom: 24px;
}

.toast-msg-wrapper .title {
  font-size: 16px;
  font-weight: 700;
}
.toast-msg-wrapper .description {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
}

.toast-time-left-indicator {
  height: 10px;
  width: 100%;
  position: relative;
  border-radius: 0 0 8px 8px;
}
.toast-time-done {
  width: 75%;
  height: 10px;
  background-color: #a0eac2;

  border-radius: 0 0 0px 8px;
}

/* -------------------------------------------------- */
/* ---------------------figma---------------------- */

.figma-app {
  min-width: 400px;
  max-width: 767px;
  /* min-height: 300px; */
  /* max-height: ; */
  display: flex;
  justify-content: space-between;
  position: relative;
}
.figma-app-controls {
  width: 35%;
  height: 100%;
  margin-right: 24px;
  position: relative;
  /* background-color: #474747; */
  /* color: #ffffff; */
}
.selected-text {
  text-align: center;
  margin-bottom: 8px;
  height: 30px;
  font-weight: 600;
  color: #0000007a;
}
.figma-size-control {
  margin-bottom: 16px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.font-size {
  width: 60px;
  text-align: center;
  font-weight: bold;
}
.figma-font-pairs {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.font-pair {
  font-size: 14px;
  /* font-weight: ; */
}
.figma-sample {
  width: 65%;
  height: 100%;
}
.sample-title {
  /* font-size: 30px; */
  /* line-height: 0.9; */
  height: 40px;
  font-weight: 700;
  line-height: 95%;
  /* margin-bottom: 24px; */
}
.pointing-cursor {
  cursor: pointer;
}
.sample-para {
  margin: 0;
  word-wrap: break-word;
  font-weight: 100;
  /* word-break: break-all; */
}

/* ---------------------------------------------------- */
/* ---------------------twitter------------------------- */
.tweet-template {
  display: flex;
  margin-bottom: 16px;
}
.avatar-wrapper {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.avatar-wrapper img {
  width: 40px;
  height: 40px;
  border-radius: 35%;
}
.tweet-actions {
  display: flex;
  flex-direction: row-reverse;
}

.tweet-actions button {
  padding: 4px 16px;
  border: none;
  border-radius: 8px;
  /* background-color: #a0eac2; */
  background-color: #ff546c;
  margin-left: 16px;
  /* box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px; */
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); */
  color: #ffffff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.circular-progress {
  font-size: 14px;
  font-weight: 700;
  margin-left: 16px;
}

.tweet {
  border: none;
  resize: none;
  min-width: 300px;
  margin-left: 24px;
  /* font-size: 20px; */
  font-family: Arial, Helvetica, sans-serif;
  /* font-weight: 600; */
  padding: 8px;
}
.tweet::placeholder {
  color: #6b6c6d;
  font-weight: 600;
  /* font-weight: 700; */
  /* font-size: ; */
}

/* ------------------------------------------------------------------ */
/* -----------------------password reset----------------------------- */
.password-reset {
  width: 300px;
  font-family: "Roboto";
  position: relative;
}
.password-reset-header__title {
  font-size: 30px;
  font-weight: 700;
}
.password-reset-header__desc {
  color: #727883;
  line-height: 1.4;
  font-weight: 400;
  /* font-size: 15px; */
}
.password-reset-header {
  margin-bottom: 16px;
}
.password-reset-form label {
  color: #4b4e55;
}
.password-reset-form input {
  width: 100%;
  border: 1px solid #b3b8be;
  border-radius: 4px;
  padding: 8px 48px 8px 16px;
}

.new-password-input-wrapper {
  position: relative;
}
.new-password-input-wrapper img {
  position: absolute;
  top: 15%;
  right: 16px;
}

.new-password-details,
.confirm-password-details {
  font-size: 12px;
  font-weight: 100;
}

.new-password-wrapper,
.confirm-password-wrapper {
  margin-bottom: 16px;
}
.confirm-password-wrapper {
  margin-bottom: 24px;
}

.password-reset-btn {
  width: 100%;
  height: 40px;
  border: none;
  background-color: #7b39ed;
  color: #ffffff;
  border-radius: 8px;
}
